
body {
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.map-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    flex-wrap: wrap;
    margin-left:40px;
    margin-top: 20px;
}
.cart-container {
    display: inline-grid;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.map-item {
    position: relative;
    width: 200px;
    margin: 10px;
    text-align: center;
}

.delete_cart{
    margin-left: 91%;
}

.map-list-item {
    position: relative;
    list-style: none;
    margin-bottom: 15px;

}

.map-number {
    position: absolute;
    top: 40%;
    left: -35px;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: white;
    background-color: #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-item img {
    width: 150px;
    height: auto;
}

.map-item p {
    margin-top: 5px;
}

.find-button{
    text-align:center;
}

.map-item img {
    width: 100%;
    height: auto;
}

.map-detail-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.main-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: left;
    color: white;
}

.map-content {
    display: flex;
    gap: 20px;
}

.map-card {
    background-color: #333;
    border: 2px solid #111;
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
    text-align: center;
    flex-shrink: 0;
}

.map-title {
    background-color: #00258C;
    color: white;
    padding: 10px;
    font-size: 1.5em;
    margin: 0;
}

.map-card-image {
    width: 100%;
    height: auto;
}

.general-info {
    background-color: #00258C;
    padding: 10px 0;
    border-top: 2px solid #0044cc;
}

.info-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    background-color: #444;
    border-bottom: 1px solid #555;
}

.info-label {
    color: #888;
    font-weight: bold;
}

.info-value {
    color: white;
}

.map-description {
    flex: 1;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
}

.map-description p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.contents {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #444;
}

.contents h4 {
    margin: 0;
    font-weight: bold;
}

.contents ol {
    padding-left: 20px;
}

.toggle {
    color: #1e90ff;
    cursor: pointer;
}

.back-button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #00258C;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #00258C;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}


.cart-icon-container {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.cart-link {
    position: relative;
    text-decoration: none;
}

.cart-icon {
    width: 55px;
    height: 55px;
}

.cart-count {
    position: absolute;
    top: -40px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 14px;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.header{
    background-color: #D9D9D9;
    height: 1px;
    margin-top: 13px;
    margin-left:-17px;
}
.header-back-button{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 17px;

}

.tournament-section h2 {
    margin-bottom: 15px;
    color: white;
}

.tournament-section select {
    padding: 10px;
    margin-right: 10px;
}

.tournament-section button {
    padding: 10px 15px;
    background-color: #00258C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}