<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Корзина</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header-back-button">
        <a href="{% url 'maps' %}">Домой</a>
        <p class="header"></p>
    </div>
    
    <div>
    <h2>Турниры</h2>
    <form method="get" action="#">
        <label for="tournament-select">Выберите турнир для участия:</label>
        <select name="tournament" id="tournament-select">
            <option value="tournament1">Турнир 1</option>
            <option value="tournament2">Турнир 2</option>
            <option value="tournament3">Турнир 3</option>
            <option value="tournament4">Турнир 4</option>
            
        </select>
    </form>
</div>

    <div class="cart-container">
    <ul>
        {% for map in cart_maps %}
            <li class="map-list-item">
                <div class="map-item">
                    <div class="map-number">{{ map.position }}</div> 
                    <a href="{% url 'map_detail' map.id %}">
                        <img src="{{ map.image_url }}" alt="{{ map.title }}">
                    </a>
                    <p>{{ map.title }}</p>
                </div>
            </li>
        {% empty %}
            <p>Ваша корзина пуста.</p>
        {% endfor %}
    </ul>
</div>

</body>
</html>
