<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ map.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header-back-button">
        <a href="{% url 'maps' %}">Домой</a>
        <p class="header"></p>
    </div>
    <div class="map-detail-container">
        <h1 class="main-title">{{ map.title }}</h1>
        <div class="map-content">
            <div class="map-card">
                <h2 class="map-title">{{ map.title }}</h2>
                <img src="{{ map.image_url }}" alt="{{ map.title }}" class="map-card-image">
                <div class="general-info">
                    <h3>Общая информация</h3>
                    <div class="info-row">
                        <span class="info-label">Количество игроков</span>
                        <span class="info-value">{{map.players}}</span>
                    </div>
                    <div class="info-row">
                        <span class="info-label">Местность</span>
                        <span class="info-value">{{ map.tileset}}</span>
                    </div>
                </div>
            </div>
            <div class="map-description">
                <p>{{ map.description}}</p>
                <h2>Обзор</h2>
                <p>{{ map.overview }}</p>
            </div>
        </div>
    </div>
</body>
</html>
