<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Пул карт</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="header-back-button">
    <a href="{% url 'maps' %}">Домой</a>
    <p class="header"></p>
</div>
<div>
        <h3>Игрок: {{ map_pool.user.username }}</h3>
    </div>
<div>
    <h2>Список карт на турнир StarCraft II World Championship Series</h2>
    
</div>
<form method="post" action="{% url 'delete_map_pool' map_pool.id %}">
    {% csrf_token %}
    <button type="submit" class="delete-map_pool-button">Удалить заявку</button>
</form>
<div class="map_pool-container">
    <ul>
        {% for map in maps_in_map_pool %}
            <li class="map-list-item">
                <div class="map-item">
                    <div class="map-number">{{ map.position }}</div>
                    <a href="{% url 'map_detail' map.map.id %}">
                        <img src="{{ map.map.image_url }}" alt="{{ map.map.title }}">
                    </a>
                    <p>{{ map.map.title }}</p>
                </div>
            </li>
            {% empty %}
            <p>Ваша корзина пуста.</p>
        {% endfor %}
    </ul>
</div>
</body>
</html>
